.slide5 {
  background-image: url(../../../img/Monkey.png);
}

.slide6 {
  background-image: url(../../../img/mountainbike.png);
}

.slide7 {
  background-image: url(../../../img/camels.png);
}

.slide8 {
  background-image: url(../../../img/mountainbike.png);
}

.hero {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.vignette {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  box-shadow: 0 0px 1500px 80px rgb(0 0 4) inset;
  z-index: 2000;
}
