<div class="vignette"></div>

<div class="hero">
  <div class="slide slide1" #slideRef>
    <div class="content content-inner">
      <div class="divider"></div>
      <div class="content-location">
        <span>Kruger Park - Africa </span>
      </div>
      <div class="content-titles">
        <div class="content-title content-title1">
          <span class="span1">Elephant</span>
        </div>
        <div class="content-title content-title2">
          <span class="span2">Safari</span>
        </div>
      </div>
      <div class="extra-content">
        <span>
          Join the wild hunt, and start exploring the beautiful Kruger Park in
          Africa. You will go on a safari trip with a tour guide.</span
        >
      </div>
      <div class="under-content">
        <div class="bookmark-button"></div>
        <div class="discover-button button">
          <span>Discover Location </span>
        </div>
      </div>
    </div>
  </div>

  <div class="slide slide2" #slideRef>
    <div class="content content-inner">
      <div class="divider"></div>
      <div class="content-location">
        <span>Kruger Park - Africa </span>
      </div>
      <div class="content-titles">
        <div class="content-title content-title1">
          <span class="span1">Elephant</span>
        </div>
        <div class="content-title content-title2">
          <span class="span2">Safari</span>
        </div>
      </div>
      <div class="extra-content">
        <span>
          Join the wild hunt, and start exploring the beautiful Kruger Park in
          Africa. You will go on a safari trip with a tour guide.</span
        >
      </div>
    </div>
  </div>

  <div class="slide slide3" #slideRef>
    <div class="content content-inner">
      <div class="divider"></div>
      <div class="content-location">
        <span>Kruger Park - Africa </span>
      </div>
      <div class="content-titles">
        <div class="content-title content-title1">
          <span class="span1">Elephant</span>
        </div>
        <div class="content-title content-title2">
          <span class="span2">Safari</span>
        </div>
      </div>
      <div class="extra-content">
        <span>
          Join the wild hunt, and start exploring the beautiful Kruger Park in
          Africa. You will go on a safari trip with a tour guide.</span
        >
      </div>
    </div>
  </div>

  <div class="slide slide4" #slideRef>
    <div class="content content-inner">
      <div class="divider"></div>
      <div class="content-location">
        <span>Kruger Park - Africa </span>
      </div>
      <div class="content-titles">
        <div class="content-title content-title1">
          <span class="span1">Elephant</span>
        </div>
        <div class="content-title content-title2">
          <span class="span2">Safari</span>
        </div>
      </div>
      <div class="extra-content">
        <span>
          Join the wild hunt, and start exploring the beautiful Kruger Park in
          Africa. You will go on a safari trip with a tour guide.</span
        >
      </div>
    </div>
  </div>

  <div class="slide slide5" #slideRef>
    <div class="content content-inner">
      <div class="divider"></div>
      <div class="content-location">
        <span>Kruger Park - Africa </span>
      </div>
      <div class="content-titles">
        <div class="content-title content-title1">
          <span class="span1">Elephant</span>
        </div>
        <div class="content-title content-title2">
          <span class="span2">Safari</span>
        </div>
      </div>
      <div class="extra-content">
        <span>
          Join the wild hunt, and start exploring the beautiful Kruger Park in
          Africa. You will go on a safari trip with a tour guide.</span
        >
      </div>
    </div>
  </div>

  <div class="slide slide6" #slideRef>
    <div class="content content-inner">
      <div class="divider"></div>
      <div class="content-location">
        <span>Kruger Park - Africa </span>
      </div>
      <div class="content-titles">
        <div class="content-title content-title1">
          <span class="span1">Elephant</span>
        </div>
        <div class="content-title content-title2">
          <span class="span2">Safari</span>
        </div>
      </div>
      <div class="extra-content">
        <span>
          Join the wild hunt, and start exploring the beautiful Kruger Park in
          Africa. You will go on a safari trip with a tour guide.</span
        >
      </div>
    </div>
  </div>

  <div class="slide slide7" #slideRef>
    <div class="content content-inner">
      <div class="divider"></div>
      <div class="content-location">
        <span>Kruger Park - Africa </span>
      </div>
      <div class="content-titles">
        <div class="content-title content-title1">
          <span class="span1">Elephant</span>
        </div>
        <div class="content-title content-title2">
          <span class="span2">Safari</span>
        </div>
      </div>
      <div class="extra-content">
        <span>
          Join the wild hunt, and start exploring the beautiful Kruger Park in
          Africa. You will go on a safari trip with a tour guide.</span
        >
      </div>
    </div>
  </div>

  <div class="slide slide8" #slideRef>
    <div class="content content-inner">
      <div class="divider"></div>
      <div class="content-location">
        <span>Kruger Park - Africa </span>
      </div>
      <div class="content-titles">
        <div class="content-title content-title1">
          <span class="span1">Elephant</span>
        </div>
        <div class="content-title content-title2">
          <span class="span2">Safari</span>
        </div>
      </div>
      <div class="extra-content">
        <span>
          Join the wild hunt, and start exploring the beautiful Kruger Park in
          Africa. You will go on a safari trip with a tour guide.</span
        >
      </div>
    </div>
  </div>

  <div class="slider-controller">
    <a (click)="nextItem()" class="button button-left"></a>
    <a class="button button-right"></a>
    <div class="slider-base">
      <div class="slider-progress" #sliderProgress></div>
    </div>
  </div>
</div>
